In [1]:
import pandas as pd

- removing "," in `1_original_corpus.csv` to read as a csv file.

### Removing Empty Sentences

In [2]:
corpus_1 = pd.read_csv("Cleaning_the_Corpus/1_original_corpus.csv")
corpus_1.head()

                                            sentence
0  රජරට වකුගඩු රෝගය හා බටහිර බංකොලොත් දැනුම - Sun...
1  VEDAKAMA FOR RAJARATA KIDNEY PATIENTS - Wednes...
2  As we mentioned last week not only that there ...
3  Apparently the Sri Lanka Medical Council (SLMC...
4  I do not know the exact words used by the SLMC...

In [3]:
# corpus_1.to_csv("Cleaning_the_Corpus/2_removed_empty_sentences.csv", index=False)

### Removing English Sentences

In [4]:
corpus_2 = pd.read_csv("Cleaning_the_Corpus/2_removed_empty_sentences.csv")
corpus_2.head()

                                            sentence
0  රජරට වකුගඩු රෝගය හා බටහිර බංකොලොත් දැනුම - Sun...
1  VEDAKAMA FOR RAJARATA KIDNEY PATIENTS - Wednes...
2  As we mentioned last week not only that there ...
3  Apparently the Sri Lanka Medical Council (SLMC...
4  I do not know the exact words used by the SLMC...

In [5]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
pattern = '|'.join(letters)
sentences_with_english_letters = corpus_2[corpus_2['sentence'].str.contains(pattern)]
sentences_without_english_letters = corpus_2[~corpus_2.sentence.isin(sentences_with_english_letters.sentence)]

In [6]:
# sentences_without_english_letters.to_csv("Cleaning_the_Corpus/3_removed_english_sentences.csv", index=False)

### Removing Sentences With Numbers

In [7]:
corpus_3 = pd.read_csv("Cleaning_the_Corpus/3_removed_english_sentences.csv")
corpus_3.head()

                                            sentence
0  කැලණිය විශ්වවිද්‍යාලය යනු විද්‍යාලංකාරය බව බොහ...
1  මෙයට අවුරුදු පනස්දෙකකට පමණ පෙර විද්‍යොදය හා වි...
2  ඒ ඔවුන්ට එකල තිබූ ලංකා විශ්වවිද්‍යාලයට (කොළඹට ...
3  විද්‍යොදයේ හා විිද්‍යාලංකාරයේ හැටෙි දශකයේ විද්...
4  අද ඔවුන්ගෙන් ඇතැමකු ඒ විශ්වවි්‍යාලවල ම කථිකාචා...

In [8]:
numbers = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
pattern = '|'.join(numbers)
sentences_with_numbers = corpus_3[corpus_3['sentence'].str.contains(pattern)]
sentences_without_numbers = corpus_3[~corpus_3.sentence.isin(sentences_with_numbers.sentence)]

In [9]:
# sentences_without_numbers.to_csv("Cleaning_the_Corpus/4_removed_sentences_with_numbers.csv", index=False)
# sentences_with_numbers.to_csv("Cleaning_the_Corpus/Extra_Files/4_sentences_with_numbers.csv", index=False)

### Removing Sentences Containing Brackets - No Need

In [10]:
corpus_4 = pd.read_csv("Cleaning_the_Corpus/4_removed_sentences_with_numbers.csv")
corpus_4.head()

                                            sentence
0  කැලණිය විශ්වවිද්‍යාලය යනු විද්‍යාලංකාරය බව බොහ...
1  මෙයට අවුරුදු පනස්දෙකකට පමණ පෙර විද්‍යොදය හා වි...
2  ඒ ඔවුන්ට එකල තිබූ ලංකා විශ්වවිද්‍යාලයට (කොළඹට ...
3  විද්‍යොදයේ හා විිද්‍යාලංකාරයේ හැටෙි දශකයේ විද්...
4  අද ඔවුන්ගෙන් ඇතැමකු ඒ විශ්වවි්‍යාලවල ම කථිකාචා...

In [11]:
brackets = ["\(", "\)"]
pattern = '|'.join(brackets)
sentences_with_brackets = corpus_4[corpus_4['sentence'].str.contains(pattern)]
sentences_without_brackets = corpus_4[~corpus_4.sentence.isin(sentences_with_brackets.sentence)]

In [12]:
# sentences_without_brackets.to_csv("Cleaning_the_Corpus/5_1_removed_sentences_with_brackets.csv", index=False)
# sentences_with_brackets.to_csv("Cleaning_the_Corpus/Extra_Files/5_sentences_with_brackets.csv", index=False)

### Removing bracketed_text

In [13]:
corpus_4 = pd.read_csv("Cleaning_the_Corpus/4_removed_sentences_with_numbers.csv")
corpus_4.head()

                                            sentence
0  කැලණිය විශ්වවිද්‍යාලය යනු විද්‍යාලංකාරය බව බොහ...
1  මෙයට අවුරුදු පනස්දෙකකට පමණ පෙර විද්‍යොදය හා වි...
2  ඒ ඔවුන්ට එකල තිබූ ලංකා විශ්වවිද්‍යාලයට (කොළඹට ...
3  විද්‍යොදයේ හා විිද්‍යාලංකාරයේ හැටෙි දශකයේ විද්...
4  අද ඔවුන්ගෙන් ඇතැමකු ඒ විශ්වවි්‍යාලවල ම කථිකාචා...

In [14]:
sentences_without_bracketed_text = corpus_4
sentences_without_bracketed_text["sentence"] = sentences_without_bracketed_text["sentence"].str.replace("\(([^)]+)\)\s*", "", regex=True)

In [15]:
# sentences_without_bracketed_text.to_csv("Cleaning_the_Corpus/5_2_removed_bracketed_text.csv", index=False)

### Removing Punctuations

In [16]:
corpus_5 = pd.read_csv("Cleaning_the_Corpus/5_2_removed_bracketed_text.csv")
corpus_5.head()

                                            sentence
0  කැලණිය විශ්වවිද්‍යාලය යනු විද්‍යාලංකාරය බව බොහ...
1  මෙයට අවුරුදු පනස්දෙකකට පමණ පෙර විද්‍යොදය හා වි...
2  ඒ ඔවුන්ට එකල තිබූ ලංකා විශ්වවිද්‍යාලයට ඇතුල්වී...
3  විද්‍යොදයේ හා විිද්‍යාලංකාරයේ හැටෙි දශකයේ විද්...
4  අද ඔවුන්ගෙන් ඇතැමකු ඒ විශ්වවි්‍යාලවල ම කථිකාචා...

In [17]:
punctuation = ["-", "_", "+", "=", ".", ",", "<", ">", "?", "!", "'", "/", "\\", "|", "~", ":", ";", "‘", "’", "“", "”", "෴", "`", "@", "#", "$", "%", "^", "&", "*", "[", "]", "{", "}", "(", ")", "…", "■", "—", "•", "–", "·", "ν", "π"]
sentences_without_punctuations = corpus_5
for p in punctuation:
    sentences_without_punctuations["sentence"] = sentences_without_punctuations["sentence"].str.replace(p,'', regex=False)

In [18]:
# sentences_without_punctuations.to_csv("Cleaning_the_Corpus/6_removed_punctuations.csv", index=False)

- from `6_removed_punctuations.csv` manually removed `"`

### Removing Starting and Trailing Whitespaces from Sentences, and Getting the Unique Sentences

In [19]:
corpus_6 = pd.read_csv("Cleaning_the_Corpus/6_removed_punctuations.csv")
corpus_6.head()

                                            sentence
0  කැලණිය විශ්වවිද්‍යාලය යනු විද්‍යාලංකාරය බව බොහ...
1  මෙයට අවුරුදු පනස්දෙකකට පමණ පෙර විද්‍යොදය හා වි...
2  ඒ ඔවුන්ට එකල තිබූ ලංකා විශ්වවිද්‍යාලයට ඇතුල්වී...
3  විද්‍යොදයේ හා විිද්‍යාලංකාරයේ හැටෙි දශකයේ විද්...
4  අද ඔවුන්ගෙන් ඇතැමකු ඒ විශ්වවි්‍යාලවල ම කථිකාචා...

In [20]:
stripped_corpus = corpus_6
stripped_corpus["sentence"] = stripped_corpus["sentence"].str.strip()
unique_utterances = stripped_corpus.groupby(["sentence"]).count()

In [21]:
# unique_utterances.to_csv("Cleaning_the_Corpus/7_unique_sentences.csv", index=True)

- manually corrected the first few sentences and the last few sentences in `7_unique_sentences.csv` and created `8_corrected_unique_sentences.csv`
- manually removed the zero width joiner in `ශ්‍රී ‍ ල නි පක්‍ෂය අද අයවැය සම්බන්ධයෙන් කුමන තීරණයක් ගත්තත් අප එයට විරුද්ධ නොවිය යුතුයි`

### Getting Unique Words - No Need

In [22]:
corpus_8 = pd.read_csv("Cleaning_the_Corpus/8_corrected_unique_sentences.csv")
corpus_8.head()

                                            sentence
0  ඉන්දියාවට අවශ්‍ය වී ඇත්තේ පොලිස් බලතල හා ඉඩම් ...
1  ඔවුන්ට තමන්ගේ පෞද්ගලිකත්වය ඉස්මතු කරගන්නට එදා ...
2                    ඔවුහු අප ඒ බවක් කී බව අමතක කරති
3                   එය ස්පර්ශ කරන්නේ අතින් හා මනසෙනි
4                                අ ආ ඇ ඈ ආදිය ස්වරයි

In [23]:
results = set()
corpus_8["sentence"].str.strip().str.split().apply(results.update)
words = pd.DataFrame(results)
words.rename(columns={0: 'Word'}, inplace=True)
sorted_words = words.sort_values("Word")

In [24]:
# sorted_words.to_csv("Cleaning_the_Corpus/Extra_Files/8_1_unique_words.csv", index=False)

In [25]:
unique_words_count = corpus_8.sentence.str.split(expand=True).stack().value_counts()
unique_word_count = pd.DataFrame(unique_words_count)

In [26]:
# unique_word_count.to_csv("Cleaning_the_Corpus/Extra_Files/8_2_unique_words_count.csv")

### Fixing Issues with Zero Width Joiner

- `\u0DCA\u200D\u0DBB` rakaranshaya
- `\u0DCA\u200D\u0DBA` yansaya
- `\u0D9A\u0DCA\u200D\u0DC2` ksha
- `\u200D` zero width joiner

In [27]:
unique_words = pd.read_csv("Cleaning_the_Corpus/Extra_Files/8_1_unique_words.csv")
unique_words_list = unique_words["Word"].tolist()

In [28]:
wrong_words_auto = []
wrong_words_manual = []
for word in unique_words_list:
    if "\u200D" in word:
        zero_width_count = word.count("\u200D")
        rakaranshaya_count = 0
        yansaya_count = 0
        ksha_count = 0
        if "\u0DCA\u200D\u0DBB" in word:
            rakaranshaya_count = word.count("\u0DCA\u200D\u0DBB")
        if "\u0DCA\u200D\u0DBA" in word:
            yansaya_count = word.count("\u0DCA\u200D\u0DBA")
        if "\u0D9A\u0DCA\u200D\u0DC2":
            ksha_count = word.count("\u0D9A\u0DCA\u200D\u0DC2")
        if zero_width_count != rakaranshaya_count + yansaya_count + ksha_count:
            if rakaranshaya_count + yansaya_count != 0:
                wrong_words_manual.append(word)
            else:
                wrong_words_auto.append(word)

In [29]:
# f = open("Cleaning_the_Corpus/Extra_Files/9_incorrect_zero_width_joiner_words.csv", "a", encoding="utf-8")
# for word in wrong_words_manual:
#     f.write(word + "\n")
# f.write("\n")
# for word in wrong_words_auto:
#     f.write(word + "\n")
# f.close()

- should replace words in `wrong_words_auto` with words in `wrong_words_auto_correct`
- should replace words in `wrong_words_manual` with words in `wrong_words_manual_correct`

In [30]:
wrong_words_auto_correct = []
for word in wrong_words_auto:
    correct_word = word.replace("\u200d", "")
    wrong_words_auto_correct.append(correct_word)

In [31]:
wrong_words_manual_correct = []
for word in wrong_words_manual:
    temp_correct_word = word.replace("\u200d්\u200d", "්\u200d")
    correct_word = temp_correct_word.replace("\u200dයා\u200d", "\u200dයා")
    wrong_words_manual_correct.append(correct_word)

In [32]:
wrong_words_auto_dictionary = {}
for key in wrong_words_auto:
    for value in wrong_words_auto_correct:
        wrong_words_auto_dictionary[key] = value
        wrong_words_auto_correct.remove(value)
        break

In [33]:
wrong_words_manual_dictionary = {}
for key in wrong_words_manual:
    for value in wrong_words_manual_correct:
        wrong_words_manual_dictionary[key] = value
        wrong_words_manual_correct.remove(value)
        break

In [34]:
corpus_8 = pd.read_csv("Cleaning_the_Corpus/8_corrected_unique_sentences.csv")
corpus_8.head()

                                            sentence
0  ඉන්දියාවට අවශ්‍ය වී ඇත්තේ පොලිස් බලතල හා ඉඩම් ...
1  ඔවුන්ට තමන්ගේ පෞද්ගලිකත්වය ඉස්මතු කරගන්නට එදා ...
2                    ඔවුහු අප ඒ බවක් කී බව අමතක කරති
3                   එය ස්පර්ශ කරන්නේ අතින් හා මනසෙනි
4                                අ ආ ඇ ඈ ආදිය ස්වරයි

In [35]:
# zero_width_joiner_corrected_corpus = corpus_8

# for i in range(0, len(zero_width_joiner_corrected_corpus["sentence"])):
#     for key in wrong_words_auto_dictionary:
#         if key in zero_width_joiner_corrected_corpus["sentence"][i]:
#             zero_width_joiner_corrected_corpus["sentence"][i] = zero_width_joiner_corrected_corpus["sentence"][i].replace(key, wrong_words_auto_dictionary[key])
            
# for i in range(0, len(zero_width_joiner_corrected_corpus["sentence"])):
#     for key in wrong_words_manual_dictionary:
#         if key in zero_width_joiner_corrected_corpus["sentence"][i]:
#             zero_width_joiner_corrected_corpus["sentence"][i] = zero_width_joiner_corrected_corpus["sentence"][i].replace(key, wrong_words_manual_dictionary[key])

In [36]:
# zero_width_joiner_corrected_corpus.to_csv("Cleaning_the_Corpus/9_removed_unnecessary_zero_width_joiner.csv", index=False)

### Removing ක්‍ෂ

In [37]:
corpus_9 = pd.read_csv("Cleaning_the_Corpus/9_removed_unnecessary_zero_width_joiner.csv")
corpus_9.head()

                                            sentence
0  ඉන්දියාවට අවශ්‍ය වී ඇත්තේ පොලිස් බලතල හා ඉඩම් ...
1  ඔවුන්ට තමන්ගේ පෞද්ගලිකත්වය ඉස්මතු කරගන්නට එදා ...
2                    ඔවුහු අප ඒ බවක් කී බව අමතක කරති
3                   එය ස්පර්ශ කරන්නේ අතින් හා මනසෙනි
4                                අ ආ ඇ ඈ ආදිය ස්වරයි

In [38]:
sentences_without_ksha = corpus_9
sentences_without_ksha["sentence"] = sentences_without_ksha["sentence"].str.replace("\u0D9A\u0DCA\u200D\u0DC2", "\u0D9A\u0DCA\u0DC2")

In [39]:
# sentences_without_ksha.to_csv("Cleaning_the_Corpus/10_removed_ksha.csv", index=False)

### Getting Unique Words - No Need

In [40]:
corpus_10 = pd.read_csv("Cleaning_the_Corpus/10_removed_ksha.csv")
corpus_10.head()

                                            sentence
0  ඉන්දියාවට අවශ්‍ය වී ඇත්තේ පොලිස් බලතල හා ඉඩම් ...
1  ඔවුන්ට තමන්ගේ පෞද්ගලිකත්වය ඉස්මතු කරගන්නට එදා ...
2                    ඔවුහු අප ඒ බවක් කී බව අමතක කරති
3                   එය ස්පර්ශ කරන්නේ අතින් හා මනසෙනි
4                                අ ආ ඇ ඈ ආදිය ස්වරයි

In [41]:
results = set()
corpus_10["sentence"].str.strip().str.split().apply(results.update)
words = pd.DataFrame(results)
words.rename(columns={0: 'Word'}, inplace=True)
sorted_words = words.sort_values("Word")

In [42]:
# sorted_words.to_csv("Cleaning_the_Corpus/Extra_Files/10_1_unique_words.csv", index=False)

In [43]:
unique_words_count = corpus_10.sentence.str.split(expand=True).stack().value_counts()
unique_word_count = pd.DataFrame(unique_words_count)

In [44]:
# unique_word_count.to_csv("Cleaning_the_Corpus/Extra_Files/10_2_unique_words_count.csv")

### Checking for Incorrect Zero Width Joiner Words

In [45]:
unique_words = pd.read_csv("Cleaning_the_Corpus/Extra_Files/10_1_unique_words.csv")
unique_words_list = unique_words["Word"].tolist()

In [46]:
wrong_words_auto = []
wrong_words_manual = []
for word in unique_words_list:
    if "\u200D" in word:
        zero_width_count = word.count("\u200D")
        rakaranshaya_count = 0
        yansaya_count = 0
        ksha_count = 0
        if "\u0DCA\u200D\u0DBB" in word:
            rakaranshaya_count = word.count("\u0DCA\u200D\u0DBB")
        if "\u0DCA\u200D\u0DBA" in word:
            yansaya_count = word.count("\u0DCA\u200D\u0DBA")
        if "\u0D9A\u0DCA\u200D\u0DC2":
            ksha_count = word.count("\u0D9A\u0DCA\u200D\u0DC2")
        if zero_width_count != rakaranshaya_count + yansaya_count + ksha_count:
            if rakaranshaya_count + yansaya_count != 0:
                wrong_words_manual.append(word)
            else:
                wrong_words_auto.append(word)

In [47]:
wrong_words_auto

[]

In [48]:
wrong_words_manual

['ත්\u200dරස්\u200dතයන්ට', 'මන්ත්\u200dරී්\u200d']

In [49]:
new_dictionary = {
    "මන්ත්‍රී්‍": "මන්ත්‍රී",
    "ත්‍රස්‍තයන්ට": "ත්‍රස්තයන්ට"
}

In [50]:
corpus_10 = pd.read_csv("Cleaning_the_Corpus/10_removed_ksha.csv")
corpus_10.head()

                                            sentence
0  ඉන්දියාවට අවශ්‍ය වී ඇත්තේ පොලිස් බලතල හා ඉඩම් ...
1  ඔවුන්ට තමන්ගේ පෞද්ගලිකත්වය ඉස්මතු කරගන්නට එදා ...
2                    ඔවුහු අප ඒ බවක් කී බව අමතක කරති
3                   එය ස්පර්ශ කරන්නේ අතින් හා මනසෙනි
4                                අ ආ ඇ ඈ ආදිය ස්වරයි

In [51]:
zero_width_joiner_fully_corrected_corpus = corpus_10

for i in range(0, len(zero_width_joiner_fully_corrected_corpus["sentence"])):
    for key in new_dictionary:
        if key in zero_width_joiner_fully_corrected_corpus["sentence"][i]:
            zero_width_joiner_fully_corrected_corpus["sentence"][i] = zero_width_joiner_fully_corrected_corpus["sentence"][i].replace(key, new_dictionary[key])

In [52]:
# zero_width_joiner_fully_corrected_corpus.to_csv("Cleaning_the_Corpus/11_zero_width_joiner_fully_corrected.csv")

### Getting Unique Words - No Need

In [53]:
corpus_11 = pd.read_csv("Cleaning_the_Corpus/11_zero_width_joiner_fully_corrected.csv")
corpus_11.head()

   index                                           sentence
0      0  ඉන්දියාවට අවශ්‍ය වී ඇත්තේ පොලිස් බලතල හා ඉඩම් ...
1      1  ඔවුන්ට තමන්ගේ පෞද්ගලිකත්වය ඉස්මතු කරගන්නට එදා ...
2      2                    ඔවුහු අප ඒ බවක් කී බව අමතක කරති
3      3                   එය ස්පර්ශ කරන්නේ අතින් හා මනසෙනි
4      4                                අ ආ ඇ ඈ ආදිය ස්වරයි

In [54]:
results = set()
corpus_11["sentence"].str.strip().str.split().apply(results.update)
words = pd.DataFrame(results)
words.rename(columns={0: 'Word'}, inplace=True)
sorted_words = words.sort_values("Word")

In [55]:
# sorted_words.to_csv("Cleaning_the_Corpus/Extra_Files/11_1_unique_words.csv", index=False)

In [56]:
unique_words_count = corpus_11.sentence.str.split(expand=True).stack().value_counts()
unique_word_count = pd.DataFrame(unique_words_count)

In [57]:
# unique_word_count.to_csv("Cleaning_the_Corpus/Extra_Files/11_2_unique_words_count.csv")

### Replacing Incorrect Words

1. Finding incorrect words in `11_1_unique_words.csv` and creating `11_4_wrong_sentences_corrected.csv` manually
2. Applying the corrections in `11_4_wrong_sentences_corrected.csv` to `11_zero_width_joiner_fully_corrected.csv`

In [58]:
corpus_11 = pd.read_csv("Cleaning_the_Corpus/11_zero_width_joiner_fully_corrected.csv")
corpus_11.head()

   index                                           sentence
0      0  ඉන්දියාවට අවශ්‍ය වී ඇත්තේ පොලිස් බලතල හා ඉඩම් ...
1      1  ඔවුන්ට තමන්ගේ පෞද්ගලිකත්වය ඉස්මතු කරගන්නට එදා ...
2      2                    ඔවුහු අප ඒ බවක් කී බව අමතක කරති
3      3                   එය ස්පර්ශ කරන්නේ අතින් හා මනසෙනි
4      4                                අ ආ ඇ ඈ ආදිය ස්වරයි

In [59]:
corrections = pd.read_csv("Cleaning_the_corpus/Extra_Files/11_4_wrong_sentences_corrected.csv")
corrections.head()

    index                       corrected_sentence
0   91420                          සමානකම් තියෙනවා
1  116436                     මෙතන ගැනත් කියන්න ඕන
2  131221                              ලස්සන ගෙයක්
3  131222  මෙම පක්ෂවලට අවුරුදු හැත්තෑවට වඩා වැඩි ය
4  131223            මෙම පක්ෂය කතා කළත් වැඩක් නැහැ

In [60]:
corrected_sentences = corpus_11
for i in range(0, len(corrections["index"])):
    corrected_sentences.loc[corrected_sentences.index == corrections["index"][i], 'sentence'] = corrections["corrected_sentence"][i]

In [61]:
# corrected_sentences.to_csv("Cleaning_the_corpus/12_replacing_incorrect_words.csv", index=False)

### Removing zero width non joiner (\u200C) and Replacing nbsp (\u00A0) with space

In [62]:
corpus_12 = pd.read_csv("Cleaning_the_Corpus/12_replacing_incorrect_words.csv")
corpus_12.head()

   index                                           sentence
0      0  ඉන්දියාවට අවශ්‍ය වී ඇත්තේ පොලිස් බලතල හා ඉඩම් ...
1      1  ඔවුන්ට තමන්ගේ පෞද්ගලිකත්වය ඉස්මතු කරගන්නට එදා ...
2      2                    ඔවුහු අප ඒ බවක් කී බව අමතක කරති
3      3                   එය ස්පර්ශ කරන්නේ අතින් හා මනසෙනි
4      4                                අ ආ ඇ ඈ ආදිය ස්වරයි

In [63]:
resultant_corpus = corpus_12
resultant_corpus["sentence"] = resultant_corpus["sentence"].str.replace("\u200C", "")
resultant_corpus["sentence"] = resultant_corpus["sentence"].str.replace("\u00A0", " ")

In [64]:
# resultant_corpus.to_csv("Cleaning_the_corpus/13_removed_nbsp_zwnj.csv", index=False)

### Getting Unique Words

In [65]:
corpus_13 = pd.read_csv("Cleaning_the_Corpus/13_removed_nbsp_zwnj.csv")
corpus_13.head()

   index                                           sentence
0      0  ඉන්දියාවට අවශ්‍ය වී ඇත්තේ පොලිස් බලතල හා ඉඩම් ...
1      1  ඔවුන්ට තමන්ගේ පෞද්ගලිකත්වය ඉස්මතු කරගන්නට එදා ...
2      2                    ඔවුහු අප ඒ බවක් කී බව අමතක කරති
3      3                   එය ස්පර්ශ කරන්නේ අතින් හා මනසෙනි
4      4                                අ ආ ඇ ඈ ආදිය ස්වරයි

In [66]:
results = set()
corpus_13["sentence"].str.strip().str.split().apply(results.update)
words = pd.DataFrame(results)
words.rename(columns={0: 'Word'}, inplace=True)
sorted_words = words.sort_values("Word")

In [67]:
# sorted_words.to_csv("Cleaning_the_Corpus/Extra_Files/13_1_unique_words.csv", index=False)

In [68]:
unique_words_count = corpus_13.sentence.str.split(expand=True).stack().value_counts()
unique_word_count = pd.DataFrame(unique_words_count)

In [69]:
# unique_word_count.to_csv("Cleaning_the_Corpus/Extra_Files/13_2_unique_words_count.csv")