In [1]:
import pandas as pd

- removing "," in `1_original_corpus.csv` to read as a csv file.

### Removing Empty Sentences

In [2]:
corpus_1 = pd.read_csv("Cleaning_the_Corpus/1_original_corpus.csv")
corpus_1.head()

                                            sentence
0  රජරට වකුගඩු රෝගය හා බටහිර බංකොලොත් දැනුම - Sun...
1  VEDAKAMA FOR RAJARATA KIDNEY PATIENTS - Wednes...
2  As we mentioned last week not only that there ...
3  Apparently the Sri Lanka Medical Council (SLMC...
4  I do not know the exact words used by the SLMC...

In [3]:
# corpus_1.to_csv("Cleaning_the_Corpus/2_removed_empty_sentences.csv", index=False)

### Removing English Sentences

In [4]:
corpus_2 = pd.read_csv("Cleaning_the_Corpus/2_removed_empty_sentences.csv")
corpus_2.head()

                                            sentence
0  රජරට වකුගඩු රෝගය හා බටහිර බංකොලොත් දැනුම - Sun...
1  VEDAKAMA FOR RAJARATA KIDNEY PATIENTS - Wednes...
2  As we mentioned last week not only that there ...
3  Apparently the Sri Lanka Medical Council (SLMC...
4  I do not know the exact words used by the SLMC...

In [5]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
pattern = '|'.join(letters)
sentences_with_english_letters = corpus_2[corpus_2['sentence'].str.contains(pattern)]
sentences_without_english_letters = corpus_2[~corpus_2.sentence.isin(sentences_with_english_letters.sentence)]

In [6]:
# sentences_without_english_letters.to_csv("Cleaning_the_Corpus/3_removed_english_sentences.csv", index=False)

### Removing Sentences With Numbers

In [7]:
corpus_3 = pd.read_csv("Cleaning_the_Corpus/3_removed_english_sentences.csv")
corpus_3.head()

                                            sentence
0  කැලණිය විශ්වවිද්‍යාලය යනු විද්‍යාලංකාරය බව බොහ...
1  මෙයට අවුරුදු පනස්දෙකකට පමණ පෙර විද්‍යොදය හා වි...
2  ඒ ඔවුන්ට එකල තිබූ ලංකා විශ්වවිද්‍යාලයට (කොළඹට ...
3  විද්‍යොදයේ හා විිද්‍යාලංකාරයේ හැටෙි දශකයේ විද්...
4  අද ඔවුන්ගෙන් ඇතැමකු ඒ විශ්වවි්‍යාලවල ම කථිකාචා...

In [8]:
numbers = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
pattern = '|'.join(numbers)
sentences_with_numbers = corpus_3[corpus_3['sentence'].str.contains(pattern)]
sentences_without_numbers = corpus_3[~corpus_3.sentence.isin(sentences_with_numbers.sentence)]

In [9]:
# sentences_without_numbers.to_csv("Cleaning_the_Corpus/4_removed_sentences_with_numbers.csv", index=False)
# sentences_with_numbers.to_csv("Cleaning_the_Corpus/Extra_Files/4_sentences_with_numbers.csv", index=False)

### Removing Sentences Containing Brackets - No Need

In [10]:
corpus_4 = pd.read_csv("Cleaning_the_Corpus/4_removed_sentences_with_numbers.csv")
corpus_4.head()

                                            sentence
0  කැලණිය විශ්වවිද්‍යාලය යනු විද්‍යාලංකාරය බව බොහ...
1  මෙයට අවුරුදු පනස්දෙකකට පමණ පෙර විද්‍යොදය හා වි...
2  ඒ ඔවුන්ට එකල තිබූ ලංකා විශ්වවිද්‍යාලයට (කොළඹට ...
3  විද්‍යොදයේ හා විිද්‍යාලංකාරයේ හැටෙි දශකයේ විද්...
4  අද ඔවුන්ගෙන් ඇතැමකු ඒ විශ්වවි්‍යාලවල ම කථිකාචා...

In [11]:
brackets = ["\(", "\)"]
pattern = '|'.join(brackets)
sentences_with_brackets = corpus_4[corpus_4['sentence'].str.contains(pattern)]
sentences_without_brackets = corpus_4[~corpus_4.sentence.isin(sentences_with_brackets.sentence)]

In [12]:
# sentences_without_brackets.to_csv("Cleaning_the_Corpus/5_1_removed_sentences_with_brackets.csv", index=False)
# sentences_with_brackets.to_csv("Cleaning_the_Corpus/Extra_Files/5_sentences_with_brackets.csv", index=False)

### Removing bracketed_text

In [13]:
corpus_4 = pd.read_csv("Cleaning_the_Corpus/4_removed_sentences_with_numbers.csv")
corpus_4.head()

                                            sentence
0  කැලණිය විශ්වවිද්‍යාලය යනු විද්‍යාලංකාරය බව බොහ...
1  මෙයට අවුරුදු පනස්දෙකකට පමණ පෙර විද්‍යොදය හා වි...
2  ඒ ඔවුන්ට එකල තිබූ ලංකා විශ්වවිද්‍යාලයට (කොළඹට ...
3  විද්‍යොදයේ හා විිද්‍යාලංකාරයේ හැටෙි දශකයේ විද්...
4  අද ඔවුන්ගෙන් ඇතැමකු ඒ විශ්වවි්‍යාලවල ම කථිකාචා...

In [14]:
sentences_without_bracketed_text = corpus_4
sentences_without_bracketed_text["sentence"] = sentences_without_bracketed_text["sentence"].str.replace("\(([^)]+)\)\s*", "", regex=True)

In [15]:
# sentences_without_bracketed_text.to_csv("Cleaning_the_Corpus/5_2_removed_bracketed_text.csv", index=False)

### Removing Punctuations

In [16]:
corpus_5 = pd.read_csv("Cleaning_the_Corpus/5_2_removed_bracketed_text.csv")
corpus_5.head()

                                            sentence
0  කැලණිය විශ්වවිද්‍යාලය යනු විද්‍යාලංකාරය බව බොහ...
1  මෙයට අවුරුදු පනස්දෙකකට පමණ පෙර විද්‍යොදය හා වි...
2  ඒ ඔවුන්ට එකල තිබූ ලංකා විශ්වවිද්‍යාලයට ඇතුල්වී...
3  විද්‍යොදයේ හා විිද්‍යාලංකාරයේ හැටෙි දශකයේ විද්...
4  අද ඔවුන්ගෙන් ඇතැමකු ඒ විශ්වවි්‍යාලවල ම කථිකාචා...

In [17]:
punctuation = ["-", "_", "+", "=", ".", ",", "<", ">", "?", "!", "'", "/", "\\", "|", "~", ":", ";", "‘", "’", "“", "”", "෴", "`", "@", "#", "$", "%", "^", "&", "*", "[", "]", "{", "}", "(", ")", "…", "■", "—", "•", "–", "·", "ν", "π"]
sentences_without_punctuations = corpus_5
for p in punctuation:
    sentences_without_punctuations["sentence"] = sentences_without_punctuations["sentence"].str.replace(p,'', regex=False)

In [18]:
# sentences_without_punctuations.to_csv("Cleaning_the_Corpus/6_removed_punctuations.csv", index=False)

- from `6_removed_punctuations.csv` manually removed `"`

### Removing Starting and Trailing Whitespaces from Sentences, and Getting the Unique Sentences

In [19]:
corpus_6 = pd.read_csv("Cleaning_the_Corpus/6_removed_punctuations.csv")
corpus_6.head()

                                            sentence
0  කැලණිය විශ්වවිද්‍යාලය යනු විද්‍යාලංකාරය බව බොහ...
1  මෙයට අවුරුදු පනස්දෙකකට පමණ පෙර විද්‍යොදය හා වි...
2  ඒ ඔවුන්ට එකල තිබූ ලංකා විශ්වවිද්‍යාලයට ඇතුල්වී...
3  විද්‍යොදයේ හා විිද්‍යාලංකාරයේ හැටෙි දශකයේ විද්...
4  අද ඔවුන්ගෙන් ඇතැමකු ඒ විශ්වවි්‍යාලවල ම කථිකාචා...

In [20]:
stripped_corpus = corpus_6
stripped_corpus["sentence"] = stripped_corpus["sentence"].str.strip()
unique_utterances = stripped_corpus.groupby(["sentence"]).count()

In [21]:
# unique_utterances.to_csv("Cleaning_the_Corpus/7_unique_sentences.csv", index=True)

- manually corrected the first few sentences and the last few sentences in `7_unique_sentences.csv` and created `8_corrected_unique_sentences.csv`

### Getting Unique Words

In [22]:
corpus_8 = pd.read_csv("Cleaning_the_Corpus/8_corrected_unique_sentences.csv")
corpus_8

                                                 sentence
0       ඉන්දියාවට අවශ්‍ය වී ඇත්තේ පොලිස් බලතල හා ඉඩම් ...
1       ඔවුන්ට තමන්ගේ පෞද්ගලිකත්වය ඉස්මතු කරගන්නට එදා ...
2                         ඔවුහු අප ඒ බවක් කී බව අමතක කරති
3                        එය ස්පර්ශ කරන්නේ අතින් හා මනසෙනි
4                                     අ ආ ඇ ඈ ආදිය ස්වරයි
...                                                   ...
146518  ෙසෙද්ධාන්තිකව බටහිර විද්‍යාවට වැදගත් එකතු කිරී...
146519   ෙසෙල බෙදි බෙදී කළලය ක්‍රමයෙන් මවු කුස තුළ වැඩෙයි
146520                   මේ අතර තවත් දෙයක් එතැන සිදු වුණා
146521                      මාලබේ ප්‍රශ්නයට අපි පස්සෙ එමු
146522  ⁣පහුගිය සතියෙ යන්තම් උණක් අරන් පහවෙලා ගිය නිසා...

[146523 rows x 1 columns]

In [23]:
results = set()
corpus_8["sentence"].str.strip().str.split().apply(results.update)
words = pd.DataFrame(results)
words.rename(columns={0: 'Word'}, inplace=True)
sorted_words = words.sort_values("Word")

In [24]:
# sorted_words.to_csv("Cleaning_the_Corpus/Extra_Files/8_1_unique_words.csv", index=False)

In [25]:
unique_words_count = corpus_8.sentence.str.split(expand=True).stack().value_counts()
unique_word_count = pd.DataFrame(unique_words_count)

In [26]:
# unique_word_count.to_csv("Cleaning_the_Corpus/Extra_Files/8_2_unique_words_count.csv")